/* 날짜 구분 바 */
.date-divider {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    background-color: transparent;
}

.date-badge {
    background-color: #D3D9EE;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 10px;
    color: #2A2B2F;
    text-align: center;
    margin-bottom: 20px;
}

/* 채팅 영역 */
.chat-messages {
    padding: 18px;
    background-color: #C9D0EA;
}

.message-group {
    margin-bottom: 14px;
}

.message-row {
    display: flex;
    gap: 7px;
    margin-bottom: 4px;
}

.message-row.continued {
    margin-bottom: 4px;
    margin-left: 35px;  
}

/* 프로필 사진 */
.profile-pic {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url("https://doy-is-here.github.io/사진/profile.PNG");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.message-content {
    flex: 1;
}

.message-header {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 6px;
    padding-left: 0px;
}

/* 발신자 정보 */
.sender-name {
    font-size: 12.5px;
    font-weight: 500;
    color: #28292F;
}

.message-time {
    font-size: 9.7px;
    color: #28292F;
}

 /* 채팅창 영역 */
.message-bubble {
    background-color: #FFFFFF;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    max-width: 239px;
    margin-left: 0px;
    display: inline-block;
}

.message-bubble.small {
    padding: 6px 12px 6px 12px;
    border-radius: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.message-text {
    font-size: 14.7px;
    line-height: 22px;
    color: #151515;
    word-wrap: break-word;
}

/* 답장 */
.reply-bubble {
    background-color: #FFFFFF;
    padding: 12px 12px 8px 12px; /*위오아래왼 */
    border-radius: 20px;
    max-width: 239px;
    margin-left: 0px;
    display: inline-block;
}

.reply-header {
    font-size: 13px;
    font-weight: 550;
    color: #454545;
    margin-bottom: 2px;
}

.reply-quoted {
    font-size: 13px;
    color: #999999;
    margin-bottom: 6px;
}

.reply-text {
    font-size: 14.7px;
    line-height: 22px;
    color: #000000;
    display: flex;
    align-items: flex-start;
    gap: 3px;
}

.reply-arrow {
    display: inline-block;
    width: 14.7px;
    height: 14.7px;
    flex-shrink: 0;
    transform: translateY(3px);
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M30 20L40 30M40 30L30 40M40 30H16C13.8783 30 11.8434 29.1571 10.3431 27.6569C8.84285 26.1566 8 24.1217 8 22V8' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}