
/* 미디어 크기 */
.ratio-1-1 {aspect-ratio: 1/1; width: 210px;}
.ratio-4-3 {aspect-ratio: 4/3; width: 210px;}
.ratio-3-4 {aspect-ratio: 3/4; height: 210px;}
.ratio-16-9 {aspect-ratio: 16/9; width: 210px;}
.ratio-9-16 {aspect-ratio: 9/16; height: 210px;}

/* 이미지 스타일 */
.message-image {
    margin-left: 0px;
    border-radius: 15px;
    overflow: hidden;
}

.message-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* 동영상 스타일 */
.message-video {
    margin-left: 0px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.video-time {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    font-size: 9px;
    padding: 3px 7px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.video-time-icon {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L38 24L10 42V6Z' fill='white' stroke='white' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* 이모티콘 */
.message-emoticon {
    margin-left: 0px;
    display: inline-block;
}

.emoticon-image {
    width: 110px;
    height: 110px;
    object-fit: contain;
    background: transparent;
}