
.voice-message {
    margin-left: 0px;
    display: flex;
    gap: 2px;
    margin-bottom: 4px;
}

/* 채팅 영역 크기 */
.voice-main {
    width: 153px;
    height: 46.5px;
    background-color: #FFFFFF;
    border-radius: 14px 4px 4px 14px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    gap: 9px;
}

/* 재생버튼 */
.play-button {
    width: 28px;
    height: 28px;
    border: 1px solid #EFEFEF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* 재생 아이콘 */
.play-icon {
    width: 14.5px;
    height: 14.5px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(1px);
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 6L38 24L10 42V6Z' fill='black' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* 재생중 아이콘 */
.voice-playing .play-icon {
    width: 13px;
    height: 13px;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='13' viewBox='0 0 10 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.46667 0.8H0.8V11.4667H3.46667V0.8Z' fill='black'/%3E%3Cpath d='M8.8 0.8H6.13333V11.4667H8.8V0.8Z' fill='black'/%3E%3Cpath d='M3.46667 0.8H0.8V11.4667H3.46667V0.8Z' stroke='%231E1E1E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.8 0.8H6.13333V11.4667H8.8V0.8Z' stroke='%231E1E1E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

/* 재생바 */
.progress-bar-container {
    position: relative;
    width: 60px;
    height: 3.5px;
    background-color: #B2B2B2;
    border-radius: 2px;
}

.progress-bar-fill {
    height: 100%;
    background-color: #000;
    border-radius: 2px;
    width:0%;
}

.progress-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    top: -2px;
    left: 0%;
}

 /* 시간 */
.voice-time {
    font-size: 13px;
    color: #151515;
}

 /* 확장버튼 */
.voice-expand {
    width: 41px;
    height: 46.5px;
    background-color: #FFFFFF;
    border-radius: 4px 14px 14px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.expand-icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    transform: translateY(0px); /* 위치조절 */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M30 6H42M42 6V18M42 6L28 20M18 42H6M6 42V30M6 42L20 28' stroke='%231E1E1E' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
}
